@use '../abstract/' as a;

body {
	font-family: 'Raleway', sans-serif;
	font-size: a.$default-font-size;
	color: a.$color-black;
}

.heading-2 {
	margin: 1.5em 0;
	font-size: 3.2rem;
	font-weight: normal;
	text-align: center;
	text-transform: uppercase;
}

.heading-3 {
	margin-bottom: 1em;
	font-size: 2.4rem;
	font-weight: 700;
}

.heading-4 {
	margin-bottom: 0.8em;
	font-size: 1.6rem;
	font-weight: 700;

	@include a.respond(medium) {
		font-size: 2rem;
	}

	@include a.respond(large) {
		font-size: 2.2rem;
	}
}
