@use '../abstract/' as a;

.contact {
	margin-bottom: 3.5em;

	&__box {
		display: flex;
		flex-direction: column;
		gap: 1.8em;

		@include a.respond(large) {
			flex-direction: row;
		}
	}

	&__informations {
		position: relative;
		padding: 2.5em;
		color: a.$color-white;
		background-image: url('../img/contact-form-small.jpg');
		background-position: 100% 100%;
		background-size: cover;
		z-index: 0;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: a.$hero-shadow;
			z-index: -1;
		}

		@include a.respond(large) {
			flex-basis: 40%;
		}
	}

	&__informations-heading {
		margin-bottom: 1.5em;
		text-align: center;
	}

	&__informations-text {
		margin-bottom: 2em;
		width: 95%;
		line-height: 2;
	}

	&__informations-details p:not(:last-child) {
		margin-bottom: 1em;
	}

	&__icon {
		margin-right: 0.5em;
		color: rgba(a.$color-green-1, 1);
		font-size: 2rem;
	}

	&__form {
		@include a.respond(large) {
			flex-basis: 60%;
		}
	}
}

.form {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: space-evenly;
	gap: 1.5em;

	width: 100%;
	height: 100%;

	&__group {
		flex: 1 1 60%;

		@include a.respond(medium) {
			flex: 1 1 35%;
		}

		@include a.respond(large) {
			flex: 1 1 35%;
		}

		&--message {
			flex-basis: 100%;
		}

		&--btn {
			margin-right: 2%;
			text-align: right;
		}
	}

	&__label {
		display: block;
		margin-bottom: 0.3em;
		color: rgba(a.$color-grey-4, 0.8);
		font-size: 1.2rem;
		font-weight: 700;
	}

	&__input,
	&__message {
		padding: 0.8em 0.3em;
		width: 100%;
		background-color: a.$color-white;
		font-family: inherit;
		font-size: 1.6rem;
		border: none;
		border-bottom: 2px solid rgba(a.$color-grey-4, 0.4);
		transition: border-bottom 0.2s;

		&:focus {
			outline: none;
			color: a.$color-black;
			border-bottom: 2px solid a.$color-green-2;
		}
	}

	&__input {
		color: a.$color-black;

		&:focus {
			color: a.$color-black;
		}
	}

	&__message {
		min-height: 120px;
		color: a.$color-black;
		resize: vertical;

		&::placeholder {
			color: a.$color-grey-3;
		}

		&:focus {
			color: a.$color-black;
		}
	}

	&__btn {
		padding: 0.8em;
		width: 25%;
		background-color: rgba(a.$color-grey-4, 0.9);
		color: a.$color-white;
		font-family: inherit;
		font-size: 1.6rem;
		transition: background-color 0.3s;

		&:hover {
			background-color: a.$color-green-1;
		}
	}
}
