@use '../abstract/' as a;

.offer-ext {
	padding: 2.5em 2.8em 3.6em;

	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
	gap: 3rem;

	@include a.respond(medium) {
		grid-template-columns: repeat(2, minmax(25rem, 1fr));
		gap: 3rem;
	}

	&__offer {
		display: grid;
		grid-template-columns: min-content 1fr;
		row-gap: 1rem;
		column-gap: 2.3rem;
	}

	&__icon {
		grid-row: 1 / span 2;
		color: rgba(a.$color-green-1, 0.8);
		font-size: 3.5rem;
		transform: translateY(0.1em);
		line-height: 0;
	}

	&__title {
		display: flex;
		align-items: center;
	}

	&__plus {
		color: a.$color-grey-3;
		transform: translateX(30%);
	}

	&__details {
		line-height: 2;
	}
}

.offer-cta {
	margin: 1.5em 0 4.5em;
	text-align: center;

	&__txt {
		margin-bottom: 2.8rem;
		font-size: 2.4rem;
	}

	&__btn-link {
		position: relative;
		padding: 0.1em 0.2em;
		color: a.$color-black;
		font-size: 2.2rem;
		font-weight: 700;
		border-bottom: 2px solid a.$color-green-1;
		transition: background-color 0.3s;

		&::before {
			content: '';
			position: absolute;
			bottom: -2px;
			left: 0;
			height: 102%;
			width: 100%;
			background-color: a.$color-green-1;
			transform: scaleY(0);
			transform-origin: bottom;
			transition: transform 0.3s;
			z-index: -1;
		}

		&:hover::before {
			transform: scaleY(1);
		}
	}
}
