@use '../abstract/' as a;

.offer-ext {
	padding: 0 2.8em 3.5em;

	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
	gap: 3rem;

	@include a.respond(medium) {
		grid-template-columns: repeat(2, minmax(25rem, 1fr));
		gap: 3rem;
	}

	&__offer {
		display: grid;
		grid-template-columns: min-content 1fr;
		row-gap: 1rem;
		column-gap: 2.3rem;
	}

	&__icon {
		grid-row: 1 / span 2;
		color: rgba(a.$color-grey-4, 0.6);
		font-size: 3.5rem;
		transform: translateY(0.1em);
		line-height: 0;
	}

	&__title {
		display: flex;
		align-items: center;
	}

	&__plus {
		color: a.$color-grey-3;
		transform: translateX(30%);
	}
}

.offer-cta {
	margin: 1.5em 0 3.5em;
	text-align: center;

	&__txt {
		margin-bottom: 2.5rem;
		font-size: 2.4rem;
	}

	&__cta-txt {
		font-size: 3.2rem;
		text-transform: uppercase;
	}
}
