@use '../abstract/' as a;

.header {
	position: relative;
	margin-top: a.$menu-mini;
	// height: 100%;
	// max-height: 600px;
	background-position: center;
	background-size: cover;
	z-index: 0;

	@include a.respond(large) {
		background-position: 100% 50%;
		margin-top: a.$menu-maxi;
	}

	&__home {
		background-image: url('../img/header-small.jpg');

		@include a.respond(large) {
			background-image: url('../img/header-big.jpg');
		}
	}

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: a.$hero-shadow;
		z-index: -1;
	}

	&__text {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		flex-direction: column;
		padding: 1.5em;
		height: 50vh;
		color: a.$color-white;
		z-index: 10;

		@include a.respond(large) {
			height: 37vh;
		}

		p {
			margin-bottom: 0.8em;
			font-size: 2rem;

			@include a.respond(large) {
				margin-bottom: 0.2em;
				font-size: 2.6rem;
			}
		}
	}
}
