@use '../abstract/' as a;

// NAVBAR
.navbar {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: a.$color-white;
	border-bottom: 1px solid a.$navbar-border;
	z-index: 10;

	&__nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: a.$menu-mini;

		@include a.respond(large) {
			height: a.$menu-maxi;
		}
	}

	&__logo img {
		min-width: 110px;
		width: 60%;
		z-index: 11;

		@include a.respond(medium) {
			width: 60%;
		}

		@include a.respond(large) {
			width: 70%;
		}
	}

	&__list {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: a.$menu-mini;
		right: 0;
		width: 100%;
		height: calc(100vh - a.$menu-mini);
		background-color: a.$color-white;
		opacity: 0;
		transform: translateX(100%);
		transition: transform 0.3s, opacity 0.3s;

		@include a.respond(large) {
			flex-direction: row;
			justify-content: flex-end;
			position: static;
			height: a.$menu-maxi;
			transform: translateX(0);
			opacity: 1;
			width: auto;
		}
	}

	&__item {
		padding: 0.5em 0;
		margin-bottom: 1em;
		font-size: 2.4rem;
		list-style: none;
		transition: background-color 0.3s;

		@include a.respond(large) {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 0;
			margin-bottom: 0;
			height: calc(a.$menu-maxi + 1px);
			font-size: 1.8rem;
		}

		&:hover {
			background-color: a.$color-black;

			a {
				color: a.$color-white;
			}

			@include a.respond(large) {
				height: calc(a.$menu-maxi + 1px);
				background-color: a.$color-black;

				a {
					color: a.$color-white;
				}
			}
		}

		a {
			padding: 1em 1.5em;
			font-weight: 600;
			color: a.$color-black;

			@include a.respond(large) {
				padding: 1.7em 1.5em;
				font-weight: 500;
				transition: color 0.3s;
			}
		}
	}

	.show-menu {
		transform: translateX(0);
		opacity: 1;
	}

	.active {
		@include a.respond(medium) {
			height: calc(a.$menu-maxi + 1px);
			background-color: #000;

			a {
				color: #fff;
			}
		}
	}

	// HAMBURGER
	&__burger-btn {
		padding: 10px 8px;
		background-color: transparent;
		border: 0;
		text-transform: none;
		overflow: visible;
		transition: opacity 0.15s linear;

		@include a.respond(large) {
			display: none;
		}
	}

	&__burger-btn-box {
		display: inline-block;
		position: relative;
		width: 35px;
		height: 25px;
	}

	&__burger-btn-inner,
	&__burger-btn-inner::after,
	&__burger-btn-inner::before {
		display: block;
		position: absolute;
		content: '';
		width: 35px;
		height: 3px;
		background-color: a.$color-black;
		border-radius: 6px;
		transition: transform 0.15s ease;
	}

	&__burger-btn-inner {
		bottom: 10px;
		transition: transform 0.13s linear, background-color 0.2s;
	}

	&__burger-btn-inner::before {
		top: -10px;
		transition: top 0.12s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s,
			transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19), background-color 0.2s;
	}

	&__burger-btn-inner::after {
		bottom: -10px;
		transition: top 0.12s 0.2s, transform 0.13s, background-color 0.2s;
	}

	&__burger-btn.is-active &__burger-btn-inner {
		bottom: 0;
		transform: translate3d(0, -10px, 0) rotate(-45deg);
		transition: 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);

		&::before {
			top: 0;
			transform: rotate(-90deg);
			transition: top 0.12s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
				0.1s transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
		}

		&::after {
			top: 0;
			opacity: 0;
			transition: top 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.1s, opacity 0.1s linear;
		}
	}

	// Hover action
	&__burger-btn:hover &__burger-btn-inner,
	&__burger-btn:hover &__burger-btn-inner::after,
	&__burger-btn:hover &__burger-btn-inner::before {
		background-color: #787878;
	}
}
